# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.yarn-integrity
/.yarn/metadata

# testing
/coverage

# production
/dist
/build

# Angular CLI
angular-cli.json
angular-cli-*.json
.angular/cache

# misc
.DS_Store
.env
*.log